<div class="form-container pledge-card">
  <p class="strong text-centered gray-border-b pb20"><%= reward.title %></p>

  <div class="display-field row">
    <p class=" strong inline-block m0">Amount: </p>
    <p class="inline-block"><%= "$"+(reward.amount).to_s %></p>
  </div>

  <div class="display-field row">
    <p class="strong inline-block m0">Description:</p>
    <p class="inline-block"><%= reward.description %></p>
  </div>

    <%=content_tag :button, "Get this" , class:"modal-btn button full-width", data:{reward_id: reward.id, reward_title:reward.title} %>
</div>
<div class="mb30">
