<p>
  Dear <%= @to_user.name %>,
</p>

<p>
  New activity from a followed user!<br/>
  Check FundUp site and see whats new on <%= @from_user.name %>'s profile
</p>

<p>
  Keep funding awesome ideas!<br/>
</p>
