<p>
  Dear <%= @user.name %>,
</p>

<p>
  We are pleased to annouce that you have a new follower!<br/>
  <%= @follower.name %> (<%= @follower.email %>) will be notified whenever you update an existing project or add a new one.
</p>

<p>
  Keep posting awesome ideas!<br/>
  
</p>