<div class="form-container width-25 centered">
  <p class="strong text-centered"><%= reward.title %></p>

  <div class="display-field">
    <p class=" strong inline-block">Amount:</p>
    <p class="inline-block"><%= reward.amount %></p>
  </div>

  <div class="display-field">
    <p class="strong inline-block">Description:</p>
    <p class="inline-block"><%= reward.description %></p>
  </div>
</div>
<div class="mb30">

</div>
