<div class="main-content bg-light-gray">
    <h1 class="text-centered mb30"><%=@project.name+"'s Rewards"%></h1>
        <%= render @project.rewards %>
  <div class="form-container width-25 centered">
    <%= render 'rewards/form'%>
  </div>
</div>
