<div class="standard-form ">
  <h1>Edit Profile</h1>
  <%= render 'form', user: @user, action:"Update" %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |  <%= link_to 'Back to profile', @user %>
</div>
