<div class="">
  <h2>Highlighted projects</h2>
  <%= render 'projects/project', project: Project.first %>
  <div class="categories">
    <p class="title2"> Explore by categories </p>
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, projects_path(search: category.id)%></li>
      <%end%>
    </ul>
  </div>

</div>
