<%= link_to project_path(project) do %>
  <%= image_tag "project_placeholder.png"%>
<% end %>
<div>
  <%= link_to project.name, project_path(project), class:"title wrap" %>
  <p class="wrap"><%= project.description %></p>

</div>
