<div class="main-content bg-light-gray">
  <div class="form-container">
    <div class="row gray-border-b">
      <h1 class="pb20">Project creation</h1>
    </div>
    <%= render 'form', project: @project, action:"Create" %>
  </div>
</div>
