//--------------General display----------------
.home-projects-preview{
  width: 85%;
}

.categories-list{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.category-item{
  padding-left: 20px;
  margin-left: 3px;
  height: 25px;
  line-height: 25px;
}

.category-link{
  color: black;
  padding-bottom: 2px;
}

.categories-container{
  margin: 0px;
  display: inline-block;
  border-left: 0.1rem solid #DCDEDD;
}

.category-item.selected{
  border-left: 3px solid black;
  margin-left: 0px;
}

.selected .category-link{
  border-bottom: 1px solid black;
}
