header{
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 12px 20px 10px 20px;
  background: white;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
  z-index: 2;
}
footer{
  max-height: 40px;
  padding: 15px 0px 10px 0px;
  border-top: 1px solid black;
  div{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
  }
}
main{
  min-height: 520px;
  padding-bottom: 20px;
}

nav#main-menu, #logo, #search-bar, #user-menu {
  display: inline-block;
  vertical-align: middle;
}

#logo{
  a {
    text-decoration: none;
    color: #d9534f;
  }
  a:hover {
    background-color: white;
  }
}

nav#main-menu{
  margin-left: 10px;
}

.nav-link{
    height: 20px;
    padding: 10px 10px 16px 10px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.red-hover:hover{
  color: #d9534f;
  background-color: white;
  border-bottom: 3px solid #C1292E;
}

#search-bar{
  display: inline-block;
  margin-left: 20px;
}


#guest-bar {
  position: absolute;
  right: 50px;
  top: 20px;
}

/* DROPDDOWN*/
.dropbtn{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 0px;
  height: 56px;
  background-color: #F7F7F9;
  padding: 9px;
  border: none;
  cursor: pointer;
}

.dropbtn .fa{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20px;
}

.dropbtn .fa,img{
  vertical-align: middle;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #dbdbd9;
}

.dropbtn{
  outline: 0;
}

/*container*/
#dropdown-wrapper{
  position: relative;
  top: -43px;
  left: 224px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top:56px;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


#dropdown-wrapper{
  position: absolute;
  top: 0px;
  right: 40px;
}

.icon{
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

header{
  .button{
    display: inline-block;
    margin-left: 420px;
  }
}

.wrap{
  white-space: pre-line;
  word-wrap:break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer{
  text-align: center;
}