header{
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 25px 20px 15px 20px;
  border-bottom: 1px solid black;
    background: white;
  box-shadow: 0px 0px 5px 1px #777;
  z-index: 2;
}

nav#main-menu, #logo {
  display: inline-block;
  vertical-align: middle;
}

#logo{
  a {
    text-decoration: none;
    color: #C1292E;
  }
  a:hover {
    background-color: white;
  }
}

nav#main-menu {
  margin-left: 10px;
  a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  a:hover {
    color: #C1292E;
    background-color: white;
    border-bottom: 3px solid #C1292E;
  }
}

#user-bar {
  position: absolute;
  top: 0px;
  right: 50px;
  width: 150px;
  height: 35px;
  padding: 8px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  li {
  text-align: center;
  font-size: 15px;
  list-style-type: none;
  }

  a, a:hover{
    color: black;
  }
}

.form{
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  min-width: 15%;
}
