html, body {
   margin: 0;
   padding: 0;
}

body{
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
  padding-top: 75px;
  line-height: 18px;
}

a{
  text-decoration: none;
  color:#2752ff;
}

p, ol, ul, td, a, span {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

div h1,h2,p{
  margin: 8px;
}

main>div:first-of-type{
  padding-top: 20px;
}

main>div:first-of-type{
  padding-top: 20px;
}

main>div{
 margin-left: 20px;
 margin-right: 20px;
}

textarea{
  resize: none;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  position: absolute;
  top: 76px;
  right: 500px;
  color: green;
}

.field_with_errors {
  padding: 1px;
  background-color: red;
}

#error_explanation {
  margin: 0 auto;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
